// ***desktop configurations***
// *1.0 general:
$bodyBackgroundColorDesktop : rgba(156, 134, 11, 0.5);
// *2.0 navbar:
$navbarFontWeightDesktop : 1000;
$fontSize : 150%;
$fontColor : rgba(63, 60, 60, 0.815);
$hoverColor : rgb(0, 0, 0);


* {
    margin: 0%;
    padding: 0%;
}

$S: 375px;
$M: 992px;
$L: 1200px;

@mixin MQ($canvas) {

    @if $canvas==S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }

    @else if $canvas==M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }

    @else if $canvas==L {
        @media only screen and (min-width:$L) {
            @content;
        }
    }
}

.body__default {
    background: linear-gradient(0deg, rgba(198, 140, 40, 0.6334908963585435) 0%, rgba(141, 184, 94, 1) 32%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(250, 248, 243, 0.07046568627450978) 100%, rgba(0, 0, 0, 0.8827906162464986) 100%);
    background-repeat: no-repeat;
}


.body__desktop {
    margin-left: 10%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;

    .navbar__mobile {
        @include MQ(L) {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 4%;
            left: 93%;
            list-style: none;

            li {
                margin: 5px;

                a {
                    text-decoration: none;

                    h2 {
                        display: none;
                    }
                }

                transition: transform 1s;
            }

            li:hover {
                background-color: rgba(138, 130, 130, 0.26);
                transform: scale(1.2);
            }
        }


    }

    .navbar__desktop {
        @include MQ(S) {
            display: none;
        }

        @include MQ(L) {
            display: block;
            position: absolute;
            left: 20px;
            top: 10%;
            padding: 1em;
            list-style: none;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                li {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin: 3em;
                    font-family: 'Roboto Slab', serif;
                    font-weight: $navbarFontWeightDesktop;

                    a {
                        .svg-desktop {
                            display: block;
                        }

                        .svg-mobile {
                            display: none;
                        }

                        text-decoration: none;
                        font-size: $fontSize;
                        color: $fontColor;
                        transition: color 1s;
                        transition: transform 1.0s;

                        h2 {
                            display: block;
                            position: absolute;
                            top: 40px;
                            font-size: 15px;
                        }

                        #nav__blog-text {
                            position: absolute;
                            left: 5px;
                        }

                        #nav__contactMe-text {
                            position: absolute;
                            left: -3px;
                        }

                        #nav__projects-text {
                            position: absolute;
                            left: -3px;
                        }

                        #nav__resume-text {
                            position: absolute;
                            left: -3px;
                        }

                    }

                    .active-pageIndicator,
                    a:hover {
                        color: $hoverColor;
                        border-radius: 20%;
                        background-color: rgba(59, 58, 53, 0.041);
                        transform: scale(1.5);
                    }
                }
            }
        }
    }


    .Home {

        // background bubbles to decorate entire home page
        .background-bubbles {
            @include MQ(S) {
                .background-bubble1 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(255, 0, 0, 0.246);
                    left: 75%;
                    bottom: -5%;
                    padding: 50px;
                    transition: transform 0.5s;
                }

                .background-bubble1:hover {
                    transform: translateX(-10px);
                }

                .background-bubble7 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(194, 218, 62, 0.219);
                    padding: 50px;
                    right: 90%;
                    bottom: 90%;
                    transition: transform 0.5s;
                }

            }

            @include MQ(L) {
                .background-bubble1 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(255, 0, 0, 0.246);
                    left: 10%;
                    bottom: 1%;
                    padding: 120px;
                    transition: transform 0.5s;
                }

                .background-bubble1:hover {
                    transform: translateX(-10px);
                }

                .background-bubble2 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(0, 0, 255, 0.219);
                    padding: 120px;
                    left: 70%;
                    bottom: 1%;
                    transition: transform 0.5s;
                }

                .background-bubble2:hover {
                    transform: translateX(-10px);

                }

                .background-bubble3 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(23, 139, 110, 0.219);
                    padding: 120px;
                    right: 90%;
                    bottom: 40%;
                    transition: transform 0.5s;
                }

                .background-bubble3:hover {
                    transform: scale(1.1);
                }

                .background-bubble4 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(94, 94, 194, 0.219);
                    padding: 120px;
                    left: 90%;
                    bottom: 40%;
                    transition: transform 0.5s;
                }

                .background-bubble4:hover {
                    transform: scale(1.1);
                }

                .background-bubble5 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(26, 110, 179, 0.219);
                    padding: 120px;
                    left: 80%;
                    bottom: 60%;
                    transition: transform 0.5s;
                }

                .background-bubble5:hover {
                    transform: translate(10px);
                }

                .background-bubble6 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(207, 21, 21, 0.219);
                    padding: 120px;
                    right: 5%;
                    bottom: 90%;
                    transition: transform 0.5s;
                }

                .background-bubble6:hover {
                    transform: translateX(20px);
                }

                .background-bubble7 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.219);
                    padding: 120px;
                    right: 80%;
                    bottom: 80%;
                    transition: transform 0.5s;
                }

                .background-bubble7:hover {
                    transform: translateX(20px);
                }

                .background-bubble8 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.219);
                    padding: 120px;
                    right: 80%;
                    bottom: 1%;
                    transition: transform 0.5s;
                }

                .background-bubble8:hover {
                    transform: translateX(20px);
                }

                .background-bubble9 {
                    border-radius: 50%;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.219);
                    padding: 120px;
                    left: 90%;
                    right: 1%;
                    bottom: 1%;
                    transition: transform 0.5s;
                }

                .background-bubble9:hover {
                    transform: translateY(-20px);
                }

            }
        }

        .home__card {
            @include MQ(S) {
                background: wheat;
                flex-direction: column;
            }

            @include MQ(L) {
                padding: 2em;
                margin: 0 10%;
                background: wheat;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

            .home__card-profile {
                @include MQ(S) {
                    display: flex;
                    flex-direction: column;
                }

                @include MQ(L) {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }

                img {
                    @include MQ(S) {
                        margin: 1em;
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        align-self: center;
                    }

                    @include MQ(L) {
                        display: block;
                        margin: 1em;
                        flex: 1;
                        width: 200px;
                        height: 275px;
                        border-radius: 5px;
                        align-self: center;
                        transition: transform 1s;
                        animation: fadeInLeft 2s;
                    }
                }

                img:hover {
                    @include MQ(L) {
                        transform: translateY(-10px);
                        box-shadow: 0px 0px 10px 0px rgba(8, 8, 8, 0.445);
                    }
                }

                p {
                    @include MQ(S) {
                        display: none;
                    }

                    @include MQ(L) {
                        display: block;
                        font-family: 'Amatic SC', cursive;
                        font-size: 30px;
                        margin: 1em 2em 7em 2em;
                        padding: 0.5em 0em 0.5em 0em;
                        border-radius: 50px;
                        text-align: center;
                        flex: 2;
                        transition: transform 1s;
                        animation: fadeInBottom 3s;

                    }
                }

                p:hover {
                    @include MQ(L) {
                        transform: scale(1.3);
                    }
                }
            }

            .home__card-contents {
                @include MQ(L) {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    background: url(../images/bg/white_paperboard.png);
                    border-radius: 10px;
                }

                hr {
                    border-top: 2px dashed rgb(0, 183, 255);
                }

                .home__card-aboutMe {
                    @include MQ(S) {
                        align-self: center;
                        flex: 1;
                    }

                    @include MQ(L) {
                        align-self: center;
                        flex: 2;
                    }

                    h3 {
                        @include MQ(S) {
                            width: 40%;
                            font-family: 'Amatic SC', cursive;
                            font-size: 30px;
                            text-align: center;
                            overflow: hidden;
                            /* Ensures the content is not revealed until the animation */
                            border-right: .05em solid rgb(0, 0, 0);
                            /* The typwriter cursor */
                            white-space: nowrap;
                            /* Keeps the content on a single line */
                            margin: 0 auto;
                            /* Gives that scrolling effect as the typing happens */
                            letter-spacing: .15em;
                            /* Adjust as needed */
                            animation:
                                typing 1.5s steps(40, end),
                                blink-caret .75s step-end infinite;
                        }

                        @include MQ(L) {
                            width: 35%;
                            font-family: 'Amatic SC', cursive;
                            font-size: 50px;
                            text-align: center;
                            overflow: hidden;
                            /* Ensures the content is not revealed until the animation */
                            border-right: .05em solid rgb(0, 0, 0);
                            /* The typwriter cursor */
                            white-space: nowrap;
                            /* Keeps the content on a single line */
                            margin: 0 auto;
                            /* Gives that scrolling effect as the typing happens */
                            letter-spacing: .15em;
                            /* Adjust as needed */
                            animation:
                                typing 2.5s steps(40, end),
                                blink-caret .75s step-end infinite;
                        }

                        .aboutMe__textColor-Me {
                            color: rgba(10, 109, 202, 0.582);
                        }

                        @keyframes typing {
                            from {
                                width: 0
                            }

                            to {
                                width: 15%
                            }

                            to {
                                width: 35%
                            }
                        }

                        /* The typewriter cursor effect */
                        @keyframes blink-caret {

                            from,
                            to {
                                border-color: transparent
                            }

                            50% {
                                border-color: rgb(0, 0, 0);
                            }
                        }
                    }

                    .about__me-p {
                        @include MQ(S) {
                            color: rgba(10, 109, 202, 0.582);
                            font-size: 20px;
                            text-align: justify;
                            font-family: 'Just Another Hand', cursive;
                            padding: 0.5em 1em 1em 1em;
                            animation: fadeInTop 3s;
                        }

                        @include MQ(L) {
                            color: rgba(10, 109, 202, 0.582);
                            font-size: 1.5em;
                            text-align: justify;
                            font-family: 'Just Another Hand', cursive;
                            padding: 1em 1em 1em 1em;
                            animation: fadeInTop 3s;
                        }
                    }
                }

                .home__card-myInfo {
                    @include MQ(S) {
                        margin-top: 2em;
                        flex: 1;
                    }

                    @include MQ(L) {
                        margin-bottom: 1em;
                        flex: 1;
                    }

                    .myInfo__socialMedia {
                        @include MQ(S) {
                            display: flex;
                            animation: fadeInTop 2s;
                        }

                        @include MQ(L) {
                            display: flex;
                            animation: fadeInTop 2s;
                        }

                        .myInfo__fullName {
                            @include MQ(S) {
                                flex: 2;
                                text-align: center;
                                font-family: 'Just Another Hand', cursive;
                                font-size: 1.6em;
                            }

                            @include MQ(L) {
                                flex: 2;
                                text-align: center;
                                font-family: 'Just Another Hand', cursive;
                                font-size: 1.6em;
                            }
                        }

                        .myInfo__socialMedia-ul {
                            list-style: none;

                            @include MQ(S) {
                                flex: 2;
                                display: flex;
                                justify-content: space-evenly;
                            }

                            @include MQ(L) {
                                display: flex;
                                justify-content: space-evenly;
                                flex: 2;
                            }
                        }

                        li:hover {
                            animation: shake 0.8s;
                            animation-iteration-count: infinite;
                        }
                    }

                    .myInfo__occupations {
                        list-style: none;

                        @include MQ(S) {
                            display: flex;
                            flex-direction: row;
                            // justify-content: space-around;
                            animation: fadeInBottom 2s;
                            .svg-desktop {
                                display: none;
                            }

                            .svg-mobile {
                                display: block;
                            }
                        }

                        @include MQ(L) {
                            text-align: center;
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            animation: fadeInBottom 2s;

                            .svg-mobile {
                                display: none;
                            }
                            .svg-desktop {
                                display: block;
                            }
                        }

                        .myInfo__occupations-row {
                            @include MQ(S) {
                                margin: 0em;
                                display: flex;
                                justify-content: space-around;
                                position: relative;
                            }

                            @include MQ(L) {
                                display: flex;
                                justify-content: space-around;
                                position: relative;
                            }

                            li {
                                @include MQ(S) {
                                    margin: 1em;
                                    p {
                                        font-size: 10px;
                                    }
                                }

                                @include MQ(L) {
                                    margin: 1em;
                                    transition: transform 1s;
                                    p {
                                        font-size: 16px;
                                    }
                                }
                            }

                            li:hover {
                                @include MQ(L) {
                                    transform: scale(1.3);
                                }
                            }

                            .occupations-row-translator {
                                @include MQ(S) {
                                    // position: absolute;
                                    // left: 25px;
                                }

                                @include MQ(L) {
                                    position: absolute;
                                    left: 82px;
                                }
                            }

                            .occupations-row-marketing {
                                @include MQ(S) {
                                    // position: absolute;
                                    // right: 40px;
                                }

                                @include MQ(L) {
                                    position: absolute;
                                    right: 65px;
                                }
                            }
                        }
                    }
                }
            }

            @keyframes fadeInTop {
                0% {
                    transform: translateY(-900px);
                    display: none;
                }
            }

            @keyframes fadeInLeft {
                0% {
                    transform: translateX(-900px);
                    display: none;
                }
            }

            @keyframes fadeInRight {
                0% {
                    transform: translateX(900px);
                    display: none;
                }
            }

            @keyframes fadeInBottom {
                0% {
                    transform: translateY(900px);
                    display: none;
                }
            }

            @keyframes shake {
                0% {
                    transform: translate(1px, 1px) rotate(0deg);
                }

                10% {
                    transform: translate(-1px, -2px) rotate(-1deg);
                }

                20% {
                    transform: translate(-3px, 0px) rotate(1deg);
                }

                30% {
                    transform: translate(3px, 2px) rotate(0deg);
                }

                40% {
                    transform: translate(1px, -1px) rotate(1deg);
                }

                50% {
                    transform: translate(-1px, 2px) rotate(-1deg);
                }

                60% {
                    transform: translate(-3px, 1px) rotate(0deg);
                }

                70% {
                    transform: translate(3px, 1px) rotate(-1deg);
                }

                80% {
                    transform: translate(-1px, -1px) rotate(1deg);
                }

                90% {
                    transform: translate(1px, 2px) rotate(0deg);
                }

                100% {
                    transform: translate(1px, -2px) rotate(-1deg);
                }
            }
        }
        .home__card-wechatQR {
            display: none;
            position: absolute;
            left: 50%;
            margin-left: -127.5px;
            top:50%;
            margin-top: -127.5px;
            img {
                height: 255px;
                width: 255px;
            }
            
        }
        .blur {
            filter: blur(8px);
        }
    }

    .Resume {
        text-align: center;
        background: rgba(240, 240, 240, 0.486);

        h2 {
            background: rgb(238, 174, 202);
            background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(186, 148, 233, 1) 100%);
            margin: 10px 0 10px 0;
            font-size: 40px;
        }

        .resume__slide-education {
            display: flex;
            flex-direction: column;


            .resume__education-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 4em;

                .resume__education-school {
                    margin-bottom: 1em;
                    display: block;
                    padding: 4em;
                    height: 200px;
                    width: 400px;

                    h4 {
                        color: rgb(248, 248, 248);
                    }

                    h3 {
                        margin: 10px;
                    }
                }

                img {
                    border-radius: 50%;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    list-style: none;

                    li {
                        margin: 5px;

                    }
                }

                .education__school-uq {
                    background-image: url(../images/uq.jpg);
                    background-size: cover;
                    background-position: center;
                }

                .education__school-qut {
                    background-image: url(../images/qut.png);
                    background-size: cover;
                    background-position: center;
                }

                .education__school-siit {
                    background-image: url(../images/siit.png);
                    background-size: cover;
                    background-position: center;
                }

                .education__school-asbl {
                    background-image: url(../images/asbl.png);
                    background-size: cover;
                    background-position: center;
                }

                .education__school-mask {
                    font-size: 10px;
                    color: aliceblue;
                    border-radius: 10%;
                    background-color: rgba(27, 26, 26, 0.582);
                    transition: transform 2s;
                }

                .education__school-mask:hover {
                    border-radius: 0%;
                    transform: scale(1.28) translateY(-30px);
                }

            }
        }

        .resume__slide-skills {
            display: flex;
            flex-direction: column;

            .resume__skills-wrapper {
                margin: 0 5em 0 5em;
                padding: 1em;
                background: rgb(131, 58, 180);
                background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(252, 176, 69, 1) 100%);

                ul {
                    list-style: none;

                    h4 {
                        font-weight: 300;
                        font-size: 15px;
                        color: rgb(251, 0, 167);
                    }

                    li {
                        margin: 10px 0;

                        h5 {
                            color: wheat;
                            font-size: larger;
                        }

                        .bar {
                            margin: 0 20em 0 20em;
                            background: rgba(0, 0, 0, 0.178);
                            display: block;
                            height: 10px;
                            border-radius: 3px;
                            overflow: hidden;
                            box-shadow: 0 0 10px rgb(190, 240, 198);

                            .span-programming {
                                height: 20px;
                                float: left;
                                background: rgb(234, 251, 4);
                            }

                            .span-db {
                                height: 20px;
                                float: left;
                                background: rgb(227, 236, 226);
                            }

                            .span-front {
                                height: 20px;
                                float: left;
                                background: rgb(24, 241, 0);
                            }

                            .span-libs {
                                height: 20px;
                                float: left;
                                background: rgb(255, 1, 1);
                            }

                            .span-tools {
                                height: 20px;
                                float: left;
                                background: rgb(1, 242, 250);
                            }
                        }

                        .python {
                            width: 50%;
                            animation: python 2s;
                        }

                        @keyframes python {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 50%;
                            }
                        }

                        .java {
                            width: 60%;
                            animation: java 2s;
                        }

                        @keyframes java {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 60%;
                            }
                        }

                        .php {
                            width: 30%;
                            animation: php 2s;
                        }

                        @keyframes php {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 30%;
                            }
                        }

                        .js {
                            width: 50%;
                            animation: js 2s;
                        }

                        @keyframes js {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 50%;
                            }
                        }

                        .sql {
                            width: 80%;
                            animation: sql 2s;
                        }

                        @keyframes sql {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 80%;
                            }
                        }

                        .nosql {
                            width: 40%;
                            animation: nosql 2s;
                        }

                        @keyframes nosql {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 40%;
                            }
                        }

                        .html {
                            width: 90%;
                            animation: html 2s;
                        }

                        @keyframes html {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 90%;
                            }
                        }

                        .css {
                            width: 80%;
                            animation: css 2s;
                        }

                        @keyframes css {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 80%;
                            }
                        }

                        .ts {
                            width: 10%;
                            animation: ts 2s;
                        }

                        @keyframes ts {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 10%;
                            }
                        }

                        .bootstrap {
                            width: 70%;
                            animation: bootstrap 2s;
                        }

                        @keyframes bootstrap {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 70%;
                            }
                        }

                        .ci {
                            width: 50%;
                            animation: ci 2s;
                        }

                        @keyframes ci {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 50%;
                            }
                        }

                        .react {
                            width: 20%;
                            animation: react 2s;
                        }

                        @keyframes react {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 20%;
                            }
                        }

                        .node {
                            width: 10%;
                            animation: node 2s;
                        }

                        @keyframes node {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 10%;
                            }
                        }

                        .git {
                            width: 60%;
                            animation: git 2s;
                        }

                        @keyframes git {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 60%;
                            }
                        }

                        .xd {
                            width: 80%;
                            animation: xd 2s;
                        }

                        @keyframes xd {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 80%;
                            }
                        }

                        .ai {
                            width: 40%;
                            animation: ai 2s;
                        }

                        @keyframes ai {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 40%;
                            }
                        }

                        .ps {
                            width: 30%;
                            animation: ps 2s;
                        }

                        @keyframes ps {
                            0% {
                                width: 0%;
                            }

                            100% {
                                width: 30%;
                            }
                        }

                    }
                }
            }
        }

        .resume__slide-professional {
            position: relative;
            display: flex;
            flex-direction: column;

            ul {
                list-style: none;
            }

            .resume__professional-wrapper {
                display: flex;
            }

            .blur {
                filter: blur(8px);
            }

            .resume__professional-org {
                margin-bottom: 1em;
                display: block;
                padding: 4em;
                height: 300px;
                width: 500px;

                h4 {
                    color: rgb(2, 6, 253);
                }

                h3 {
                    margin: 10px;
                }

                .professional__org-mask {
                    padding: 1em;
                    background: radial-gradient(circle, rgb(246, 246, 243) 0%, rgba(175, 177, 165, 0.596) 100%);
                    transition: transform 1s;
                }

                .professional__org-mask:hover {
                    transform: scale(1.1);
                }

            }

            .org__goldenLakes-popup {
                .professional__org-mask {
                    background: radial-gradient(circle, rgb(246, 246, 243) 0%, rgba(175, 177, 165, 0.596) 100%);

                }

                display: none;
                position: absolute;
                bottom: 40%;
                left: 20%;
                width: 50%;
                font-size: 1.5em;
            }

            .org__space-popup {
                .professional__org-mask {
                    background: rgb(251, 63, 174);
                    background: radial-gradient(circle, rgba(251, 63, 174, 1) 0%, rgba(115, 70, 252, 0.38699229691876746) 100%);

                }

                display: none;
                position: absolute;
                bottom: 40%;
                left: 20%;
                width: 50%;
                font-size: 1.5em;
            }

            .hover-cancel {
                padding: 1em;
                background: radial-gradient(circle, rgb(246, 246, 243) 0%, rgba(175, 177, 165, 0.596) 100%);
            }
        }
    }

    .Projects {
        text-align: center;
        background: rgba(240, 240, 240, 0.486);
    }

    .Blog {
        text-align: center;
        background: rgba(240, 240, 240, 0.486);
    }

    .contactMe {
        text-align: center;
        background: rgba(240, 240, 240, 0.486);

        p {
            margin: 1em 0 1em 0;
            padding: 0 0 0 0;
            font-size: 3em;
            font-family: 'Amatic SC', cursive;
        }

        /* Style inputs with type="text", select elements and textareas */
        input[type=text],
        select,
        textarea {
            width: 100%;
            /* Full width */
            padding: 12px;
            /* Some padding */
            border: 1px solid #ccc;
            /* Gray border */
            border-radius: 4px;
            /* Rounded borders */
            box-sizing: border-box;
            /* Make sure that padding and width stays in place */
            margin-top: 6px;
            /* Add a top margin */
            margin-bottom: 16px;
            /* Bottom margin */
            resize: vertical
                /* Allow the user to vertically resize the textarea (not horizontally) */
        }

        /* Style the submit button with a specific background color etc */
        input[type=submit] {
            background-color: #05817b;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* When moving the mouse over the submit button, add a darker green color */
        input[type=submit]:hover {
            background-color: #14bfc5;
        }

        /* Add a background color and some padding around the form */
        .container {
            padding: 2em;
            background-color: rgb(245, 233, 233);
            border-radius: 5px;
            margin: 0 20em;
        }
    }

}